[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "python311Packages.virtualenv"]

[phases.install]
cmds = [
  "python -m venv /opt/venv",
  ". /opt/venv/bin/activate && pip install --upgrade pip",
  ". /opt/venv/bin/activate && pip install -r iape/requirements.txt"
]

[start]
cmd = ". /opt/venv/bin/activate && cd iape && uvicorn src.app:app --host 0.0.0.0 --port $PORT"
